.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  gap: 40px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  height: 60px;
  width: 100%;
  z-index: 2;
}
.header_nav_left {
  color: rgb(238, 181, 36);
  font-size: 40px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.header_nav_items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.header_nav_items a {
  text-decoration: none;
  color: rgb(103, 63, 3);
  opacity: 1;
  font-weight: bold;
}

.header_nav_button {
  display: flex;
  gap: 10px;
}
.button_regis {
  border: 2px solid rgb(238, 181, 36);
  background-color: transparent;
  color: rgb(103, 63, 3);
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}
.button_auten {
  border: 2px solid rgb(238, 181, 36);
  color: rgb(103, 63, 3);
  background-color: transparent;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

/*-----------------------------------------*/

.body {
  margin: 0;
  padding: 0;
}

.main_inic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./IMGS/_TAL3113-VilaVitaAnita.jpeg);
  height: 750px;
  background-size: cover;
}
.overlay {
  position: absolute;
  height: 750px;
  width: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 1;
}
.main_inic h1 {
  padding-top: 100px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 80px;
  color: rgb(77, 8, 8);
  z-index: 2;
}
.main_inic h3 {
  font-size: 40px;
  padding-top: 0px;
  color: rgb(77, 8, 8);
  z-index: 2;
}
.main_inic h4 {
  font-size: 30px;
  color: rgb(77, 8, 8);
  text-align: center;
  padding: 0px;
  margin: 0;
  z-index: 2;
}
.main_inic h4 p {
  padding: 0;
  margin: 0;
  z-index: 2;
}
/*-----------------------------------------*/
.main_servi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main_servi_items {
  display: flex;
  gap: 5px;
}

.main_servi_items_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_servi_items_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_servi_items_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_servi_items_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_servi_items_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_servi_items_1 img {
  height: 200px;
  width: 250px;
}
.main_servi_items_2 img {
  height: 200px;
  width: 250px;
}
.main_servi_items_3 img {
  height: 200px;
  width: 250px;
}
.main_servi_items_4 img {
  height: 200px;
  width: 250px;
}
.main_servi_items_5 img {
  height: 200px;
  width: 250px;
}

div > figcaption {
  color: rgb(238, 181, 36);
  font-size: 25px;
}
.h_Servicios {
  font-size: 30px;
  margin: 20px 0;
  color: rgb(238, 181, 36);
}
.bton_agendar {
  border: 2px solid rgb(238, 181, 36);
  color: rgb(103, 63, 3);
  background-color: transparent;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}
