.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_left {
  display: flex;
  align-items: center;
}
.header_nav_items {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 300px;
}
.header_nav_items li {
  margin-right: 15px;
}
.header_nav_button {
  display: flex;
}
.header_nav_button button {
  margin-left: 15px;
}

.main_servi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_servi_items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main_servi div {
  text-align: center;
  margin: 10px;
}
.main_servi img {
  max-width: 100%;
}
.main_servi figcaption {
  margin-top: 10px;
}
